.container {
  width: 100%;
}
.BoBs {
  display: flex;
  align-items: center;
  margin-top: 0px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  color: #272936;
}
.unListed {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  gap: 40px;
  display: flex;
 justify-content: center;
  align-items: center;
}
.unListed li a:hover {
  color: #5d3bee;
}
#contact-nav {
  color: #5d3bee;
  border: 1px solid #5d3bee;
  padding: 6px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 120px;

  transition: 0.9s;
}

#contact-nav:hover {
  background-color: #5d3bee;
  color: #ffffff;
}



