.change{
    font-size: 14px;
    font-weight: 600;

}
.iconsss{
   display: flex;
   justify-content: space-around;
  flex-direction: row;

 

}
.joja{
    display: flex;
   
    align-items: center;
}
.fafa{
    font-size: 18px;
    transform-origin: 0.5s;
    gap: 10px;
}
.fafa :hover{
    color: #5D3BEE;
}
.iconsss a{
    color: black;

}
.iconsss ul{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 20px;

}
.iconsss li{
    list-style: none;
 
}
hr{
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
}
.PARTTWOFOOTER{
   display: flex;
   align-items: center;
   margin-left: auto;
   background-color: #FFFFFF ;
   color: #272936;
   font-weight: 700;
   margin-right: auto;
   justify-content: center;
} 
.PARTTWOFOOTER .pragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 700px) {
    .xxb{
        display: none;
    }
    .SS{
        display: none;
    }
    .iconsss{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-toggler {
        position: absolute;
        right: -200px; /* جعل الزر على الجانب الأيمن بمقدار 30 بيكسل */
        top: 10px; /* ضبط المسافة من الأعلى حسب الحاجة */
        font-size: 28px;
        color: #000000; /* لون الزر أسود داكن */
        border: none;
        background-color: transparent; /* إزالة خلفية الزر */
      }
      
}